# Исследование надежности заемщиков

**Описание проекта**<br>
Заказчик — кредитный отдел банка. Нужно разобраться, влияет ли семейное положение и количество детей клиента на факт погашения кредита в срок. Входные данные от банка — статистика о платёжеспособности клиентов.

Результаты исследования будут учтены при построении модели кредитного скоринга — специальной системы, которая оценивает способность потенциального заёмщика вернуть кредит банку.

**Цель исследования — проверить гипотезы:**<br>
Существует ли зависимость:

 - между наличием детей и возвратом кредита в срок,
 - между семейным положением и возвратом кредита в срок,
 - между уровнем дохода и возвратом кредита в срок,
 - между целью кредита и его возвратом в срок.


**Ход исследования**
Исследование пройдёт в три шага:

 - Обзор данных,
 - Предобработка данных,
 - Проверка гипотез.

Во второй части проекта вы выполните шаги 3 и 4. Их вручную проверит ревьюер.
Чтобы вам не пришлось писать код заново для шагов 1 и 2, мы добавили авторские решения в ячейки с кодом.

## Откройте таблицу и изучите общую информацию о данных

**Задание 1. Импортируйте библиотеку pandas. Считайте данные из csv-файла в датафрейм и сохраните в переменную `data`. Путь к файлу:**

`/datasets/data.csv`

In [1]:
import pandas as pd

try:
    data = pd.read_csv('/datasets/data.csv')
except:
    data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')

**Задание 2. Выведите первые 20 строчек датафрейма `data` на экран.**

In [2]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

**Задание 3. Выведите основную информацию о датафрейме с помощью метода `info()`.**

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков

**Задание 4. Выведите количество пропущенных значений для каждого столбца. Используйте комбинацию двух методов.**

In [4]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

**Задание 5. В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце вы обработаете на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.**

In [5]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### Обработка аномальных значений

**Задание 6. В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Для реальных данных это нормально. Обработайте значения в этом столбце: замените все отрицательные значения положительными с помощью метода `abs()`.**

In [6]:
data['days_employed'] = data['days_employed'].abs()

**Задание 7. Для каждого типа занятости выведите медианное значение трудового стажа `days_employed` в днях.**

In [7]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть. Тем более этот столбец не понадобится вам для исследования.

**Задание 8. Выведите перечень уникальных значений столбца `children`.**

In [8]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5])

**Задание 9. В столбце `children` есть два аномальных значения. Удалите строки, в которых встречаются такие аномальные значения из датафрейма `data`.**

In [9]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

**Задание 10. Ещё раз выведите перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.**

In [10]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5])

### Удаление пропусков (продолжение)

**Задание 11. Заполните пропуски в столбце `days_employed` медианными значениями по каждого типа занятости `income_type`.**

In [11]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

**Задание 12. Убедитесь, что все пропуски заполнены. Проверьте себя и ещё раз выведите количество пропущенных значений для каждого столбца с помощью двух методов.**

In [12]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

**Задание 13. Замените вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.**

In [13]:
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

**Задание 14. Обработайте неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведите их к нижнему регистру. Проверьте остальные столбцы.**

In [14]:
data['education'] = data['education'].str.lower()

**Задание 15. Выведите на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалите их.**

In [15]:
data.duplicated().sum()

71

In [16]:
data = data.drop_duplicates()

### Категоризация данных

**Задание 16. На основании диапазонов, указанных ниже, создайте в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.


**Например, кредитополучателю с доходом 25000 нужно назначить категорию `'E'`, а клиенту, получающему 235000, — `'B'`. Используйте собственную функцию с именем `categorize_income()` и метод `apply()`.**

In [17]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [18]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

**Задание 17. Выведите на экран перечень уникальных целей взятия кредита из столбца `purpose`.**

In [19]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

**Задание 18. Создайте функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

**Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.**

**Используйте собственную функцию с именем `categorize_purpose()` и метод `apply()`. Изучите данные в столбце `purpose` и определите, какие подстроки помогут вам правильно определить категорию.**

In [20]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [21]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

### Шаг 3. Исследуйте данные и ответьте на вопросы

#### 3.1 Есть ли зависимость между количеством детей и возвратом кредита в срок?

In [22]:
# Ваш код будет здесь. Вы можете создавать новые ячейки.

# Для поиска ответа нам понадобятся столбцы:
# children (количество детей в семье) и debt (статус задолженности по возврату кредитов).

# Сгруппируем должников по количеству детей:
debt_by_children = data.groupby('children')['debt'].sum('debt')
debt_by_children

children
0    1063
1     444
2     194
3      27
4       4
5       0
Name: debt, dtype: int64

In [23]:
# Самопроверка: убедимся, что сумма должников по группам совпадает с суммой по всему столбцу 'debt'.
debt_by_children.sum() == data['debt'].sum()

True

**Вывод**

Видна зависимость: чем больше детей, тем меньше должников.<br>
Ответственность за свою семью мотивирует людей на поиск дохода и избавление от долгов.

<font color="green">✔️ Комментарий ревьювера    
Вывод верный, получается, что клиенты без детей являются более ответственными при погашении кредита.</font

    
<font color="red">❌ Комментарий ревьювера     
Можно использовать функцию groupby, но крайне желательно хотя бы пару раз применить pivot_table. И подсчет процента у тебя не сделан. Это число должников конкретной категории :) . В идеале желательно сделать табличку, где будет столбец с числом людей, число должников и процентом должников: 
Всего кредитополучателей - Всего должников - Доля должников
    
По графику все красиво, но нужно пояснение, что по осям. Например: число должников<font>

<font color="darkblue"> Для исправления применю здесь единственное решение, которое не привело к красному крестику :)<br>
(из вопроса 3.4 "Как разные цели кредита влияют на его возврат в срок?") <br>
    
График пока добавлять не буду, чтобы не отвлекаться от самого решения.

In [26]:
# Сгруппируем по столбцу 'children' (количество детей), 
# посчитаем общее количество кредитов по каждой категории через count() и суммируем все просроченные платежи через sum().
# Эти вычисления помогут посчитать долю просрочек по каждой категории:

debt_by_children = data.groupby(['children']).agg({'debt':['count', 'sum']})

debt_by_children[('debt', 'part, %')] = debt_by_children[('debt', 'sum')] / debt_by_children[('debt', 'count')]*100

debt_by_children

           debt
          count   sum   part, %
children
0         14091  1063  7.543822
1          4808   444  9.234609
2          2052   194  9.454191
3           330    27  8.181818
4            41     4  9.756098
5             9     0  0.000000

**Вывод**

Видна зависимость: чем больше детей, тем меньше должников.<br>

Но если смотреть по процентам просрочки в каждой категории, именно заемщики без детей показыват наименьший процент просрочек - 7.5%<br>

Далее - рост: чем больше детей, тем больше % просрочек.<br>
Выбивается из общей картины категория с 3 детьми, но и там процент заметно выше, чем у категории без детей.

<font color="green">✔️ Комментарий ревьювера 2    
Мы смотрим по процентам ,а не по абсолютным цифрам. Получается, что клиенты без детей являются более ответственными при погашении кредита. Отлично, что проверяешь еще и количество заемщиков. Видно, что база клиентов с 4 и 5 детьми очень маленькая</font>

#### 3.2 Есть ли зависимость между семейным положением и возвратом кредита в срок?

In [29]:
# Ваш код будет здесь. Вы можете создавать новые ячейки.

#  Решение аналогично предыдущему. Для поиска ответа нам понадобятся столбцы:
# 'family_status' (семейное положение) и debt (статус задолженности по возврату кредитов)

debt_by_family_status = data.groupby('family_status')['debt'].sum('debt') # Сгруппируем должников по семейному статусу.
debt_by_family_status.sort_values(ascending=False)  # Отсортируем результаты по убыванию.

family_status
женат / замужем          927
гражданский брак         385
Не женат / не замужем    273
в разводе                 84
вдовец / вдова            63
Name: debt, dtype: int64

In [30]:
# Самопроверка: убедимся, что сумма должников по группам совпадает с суммой по всему столбцу 'debt'.
debt_by_family_status.sum() == data['debt'].sum()

True

**Вывод:** <br>
Больше всего просрочек у женатых/замужних, а также у живущих в гражданском браке. Возможно, не торопятся с оплатой, так как уверены в своей платежеспособности. <br>
Меньше всего просрочек у разведенных и вдовцов. Такие люди полагаются только на себя и не позволяют себе лишних долгов. <br>

Зависимость прослеживается, но нарушает логику категория 'Не женат / не замужем'. <br>
Как и разведенные, они тоже одиноки. Но, видимо, легкомысленны и не чувствуют ответственности, в том числе и перед кредиторами.

Комментарий ревьюера ✔️
Верно, получается что состоящие или состоявшие в браке заемщики лучше платят по кредитам чем холостые.

<font color="red">❌ Комментарий ревьювера       
Такое же замечание, что и выше :)</font>

<font color="darkblue"> Исправляю аналогично решению выше.<br>

In [31]:
# Сгруппируем по столбцу 'children' (количество детей), 
# посчитаем общее количество кредитов по каждой категории через count() и суммируем все просроченные платежи через sum().
# Эти вычисления помогут посчитать долю просрочек по каждой категории:

debt_by_family_status = data.groupby(['family_status']).agg({'debt':['count', 'sum']})

debt_by_family_status[('debt', 'part, %')] = debt_by_family_status[('debt', 'sum')] / debt_by_family_status[('debt', 'count')]*100

debt_by_family_status

                        debt
                       count  sum   part, %
family_status
Не женат / не замужем   2796  273  9.763948
в разводе               1189   84  7.064760
вдовец / вдова           951   63  6.624606
гражданский брак        4134  385  9.313014
женат / замужем        12261  927  7.560558

**Вывод**

Минимальная доля просрочек в категории вдовцов.<br>
Такие люди полагаются только на себя и не позволяют себе лишних долгов.<br>
Возможно, по той же причине, небольшой процент просрочек и в категории 'в разводе'.<br>

У женатых / замужних тоже умеренный процент: финансовой стабильности больше.

Больше всего просрочек по платежам у людей, состоящих в гражданском браке, и не женатых / не замужних.<br>
Получается, многие из этих категорий легкомысленны и не чувствуют ответственности, в том числе и перед кредиторами.

<font color="brown">⚠️ Комментарий ревьювера 2    
Вывод верный. Если клиент не женат или не был женат - то вероятность просрочки выше. Попробуй через сводную таблицу

In [42]:
data_pivot_family_status = data.pivot_table(index=['family_status'], values='debt', aggfunc=['count', 'sum', 'mean'])

display(data_pivot_family_status)

                       count  sum      mean
                        debt debt      debt
family_status
Не женат / не замужем   2796  273  0.097639
в разводе               1189   84  0.070648
вдовец / вдова           951   63  0.066246
гражданский брак        4134  385  0.093130
женат / замужем        12261  927  0.075606

<font color="darkblue">Через сводную таблицу получается тот же результат, значит и вывод тот же.

<font color="green">✔️ Комментарий ревьювера  3   
Отлично!</font>

#### 3.3 Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

In [32]:
# Ваш код будет здесь. Вы можете создавать новые ячейки.

# Теперь нас в первую очередь интересует столбец ежемесячного дохода 'total_income'.
# В нем  много разных значений, значит нужно классифицировать их по нескольким уровням дохода.
# Чтобы понять, какие группы доходов создать, посмотрим на минимальные и максимальные значения по всем данным в столбце:
data['total_income'].sort_values()

14585      20667
13006      21205
16174      21367
1598       21695
14276      21895
          ...
17178    1711309
20809    1715018
9169     1726276
19606    2200852
12412    2265604
Name: total_income, Length: 21331, dtype: int64

In [33]:
# Разброс значений от 20 000 до 2 000 000 и больше.
# Разобъем по следующим категориям: 
# до 50 000 - низкий доход 
# 50 000 ... 100 000 - средний
# 100 000 ... 300 000 - выше среднего
# 300 000 ... 500 000 - высокий 
# 500 000 ... 1 000 000 - крупный бизнес
# от 1 000 000 и больше - очень крупный бизнес

# Добавим в датасет 2 новых столбца. 
# Первый - 'income_category' с названиями категорий дохода, второй - 'income_category_id' с числовыми индексами категорий.

data.loc[data['total_income'] < 50000, ['income_category', 'income_category_id']] = ['низкий', 1]
data.loc[(50000 <= data['total_income']) & ( data['total_income'] < 100000), ['income_category', 'income_category_id']] = ['средний', 2]
data.loc[(100000 <= data['total_income']) & ( data['total_income'] < 300000), ['income_category', 'income_category_id']] = ['выше среднего', 3]
data.loc[(300000 <= data['total_income']) & ( data['total_income'] < 500000), ['income_category', 'income_category_id']] = ['высокий', 4]
data.loc[(500000 <= data['total_income']) & ( data['total_income'] < 1000000), ['income_category', 'income_category_id']] = ['крупный бизнес', 5]
data.loc[data['total_income'] >= 1000000, ['income_category', 'income_category_id']] = ['очень крупный бизнес', 6]

# Посмотрим, что получилось:
display(data['income_category'].value_counts())
display(data['income_category_id'].value_counts())

выше среднего           15413
средний                  4073
высокий                  1252
низкий                    371
крупный бизнес            197
очень крупный бизнес       25
Name: income_category, dtype: int64

3.0    15413
2.0     4073
4.0     1252
1.0      371
5.0      197
6.0       25
Name: income_category_id, dtype: int64

In [34]:
# Проверим обновленную информацию по датасету: все ячейки новых столбцов заполнены.
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21331 entries, 0 to 21524
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   children               21331 non-null  int64
 1   days_employed          21331 non-null  float64
 2   dob_years              21331 non-null  int64
 3   education              21331 non-null  object
 4   education_id           21331 non-null  int64
 5   family_status          21331 non-null  object
 6   family_status_id       21331 non-null  int64
 7   gender                 21331 non-null  object
 8   income_type            21331 non-null  object
 9   debt                   21331 non-null  int64
 10  total_income           21331 non-null  int64
 11  purpose                21331 non-null  object
 12  total_income_category  21331 non-null  object
 13  purpose_category       21331 non-null  object
 14  income_category        21331 non-null  object
 15  income_category_id     21331 non-null  float64
dtypes: float64(2), int64(6), object(8)
memory usage: 3.3+ MB

In [35]:
# Сгруппируем должников по созданным нами категориям дохода:

income_rating = data.groupby(['income_category_id', 'income_category']).agg({'debt':['sum']})
income_rating

                                         debt
                                          sum
income_category_id income_category
1.0                низкий                  23
2.0                средний                331
3.0                выше среднего         1272
4.0                высокий                 92
5.0                крупный бизнес          12
6.0                очень крупный бизнес     2

**Вывод:** <br>
Минимальное количество просрочек у заемщиков с доходами от 500 000 (крупный и очень крупный бизнес). Такие клиенты не стеснены в средствах, проявляют деловое отношение и высокую платежную дисциплину.<br>

Также небольшое количество просрочек по категории с доходом менее 50 000 (низкий доход).<br>
Видимо, люди с небольшими доходами, осознанно решившие взять кредит, стараются избавляться от долгов и не накапливать лишних проблем.

Количество просрочек возрастает на уровне среднего дохода (50 000 ... 100 000), максимум в категории 'выше среднего' (100 000 ... 300 000).<br>
Возможно, клиенты из этих категорий неточно рассчитывают (или вообще не рассчитывают) свои финансовые возможности. Полагая, что уровень дохода позволяет не волноваться о выплатах, такие клиенты могут переоценивать свои возможности и брать лишние кредиты.

<font color="red">❌ Комментарий ревьювера       
Давай посмотрим на табличку, что писал выше. А для выявления четкой зависимости желательно сравнивать самые многочисленные категории. </font>

<font color="darkblue"> Исправляю аналогично решению выше.<br>

In [36]:
# Сгруппируем должников по созданным нами категориям дохода:
# посчитаем общее количество кредитов по каждой категории через count() и суммируем все просроченные платежи через sum().
# Эти вычисления помогут посчитать долю просрочек по каждой категории:

income_rating = data.groupby(['income_category_id','income_category']).agg({'debt':['count','sum']})

income_rating[('debt', 'part, %')] = income_rating[('debt', 'sum')] / income_rating[('debt', 'count')]*100

income_rating

                                          debt
                                         count   sum   part, %
income_category_id income_category
1.0                низкий                  371    23  6.199461
2.0                средний                4073   331  8.126688
3.0                выше среднего         15413  1272  8.252774
4.0                высокий                1252    92  7.348243
5.0                крупный бизнес          197    12  6.091371
6.0                очень крупный бизнес     25     2  8.000000

**Вывод:** <br>
Минимальное количество просрочек у заемщиков с доходами от 500 000 (крупный и очень крупный бизнес). Такие клиенты не стеснены в средствах, проявляют деловое отношение и высокую платежную дисциплину.<br>
Отмечу, что 8% у категории с доходом более 1 млн. выглядит великовато, но это связано с числами, участвующими в расчетах (2 к 25).

Также небольшое количество и низкий процент просрочек по категории с доходом менее 50 000 (низкий доход).<br>
Видимо, люди с небольшими доходами, осознанно решившие взять кредит, стараются избавляться от долгов и не накапливать лишних проблем.

Количество просрочек велико на уровне среднего дохода (50 000 ... 100 000), максимум в категории 'выше среднего' (100 000 ... 300 000).<br>
Возможно, клиенты из этих категорий неточно рассчитывают (или вообще не рассчитывают) свои финансовые возможности. Полагая, что уровень дохода позволяет не волноваться о выплатах, такие клиенты могут переоценивать свои возможности и брать лишние кредиты.

<font color="green">✔️ Комментарий ревьювера 2   
Согласен, чаще всего должниками становятся люди с небольшим доходом. Видимо, финансовые проблемы не позволяют вовремя осуществлять платежи. Для выявления зависимости желательно сравнивать самые многочисленные категории. Категория А,  D и Е слишком малочисленны для серьезного вывода. :)</font>

<font color="darkblue">Понял, спасибо, ориентируемся на большую выборку данных.

<font color="green">✔️ Комментарий ревьювера  3   
Все верно!</font>

#### 3.4 Как разные цели кредита влияют на его возврат в срок?

In [37]:
# Ваш код будет здесь. Вы можете создавать новые ячейки.

# На этот раз сгруппируем по столбцу 'purpose_category' (категории расходов), 
# суммируем все просроченные платежи, а также посчитаем общее количество кредитов по каждой категории.
# Эти вычисления помогут посчитать долю просрочек по каждой категории:

debt_by_purpose = data.groupby(['purpose_category']).agg({'debt':['sum', 'count']})

debt_by_purpose[('debt', 'part, %')] = debt_by_purpose[('debt', 'sum')] / debt_by_purpose[('debt', 'count')]*100

debt_by_purpose

                         debt
                          sum  count   part, %
purpose_category
операции с автомобилем    400   4279  9.347978
операции с недвижимостью  780  10751  7.255139
получение образования     369   3988  9.252758
проведение свадьбы        183   2313  7.911803

**Вывод:**<br>
Категории "операции с автомобилем" и "получение образования" примерно совпадают по количеству просрочек, доли невыплат здесь самые большие - около 9,3%.

Меньше всего просроченых кредитов в категории "проведение свадьбы", доля просрочек 7,9%.

Больше всего просрочек в категории "операции с недвижимостью", хотя доля по категории 7,25% - самая низкая.

<font color="green">✔️ Комментарий ревьювера   
Вот здесь хорошая табличка. Да, согласен, самыми проблемными выглядят автокредиты и кредиты на образование. Сложно сказать, каковы причины таких особенностей.<font>

#### 3.5 Приведите возможные причины появления пропусков в исходных данных.

*Ответ:* <br>
Причина 1 - если пользователь не заполнил форму до конца, не дал сведений о себе (контактный номер, фамилию и т.п.),<br>
Причина 2 - если произошла техническая ошибка в работе системы сбора информации,<br>
Причина 3 - если пропуск был оставлен умышленно в расчете на автозаполнение спецсимволами.

<font color="brown">⚠️ Комментарий ревьювера    
Все верно, но важно отметить, что пропуски в столбцах days_employed и total_income в равных пропорциях и симметричны. Возможно, они появились из-за нежелания этих пользователей оставлять эти данные или из-за ошибки. В столбце days_employed пропуски мы не заполняли, а в total_income - заполнили медианными значениями, но с учетом категории, чтоб не усреднять данные. Категорией, от которой сильнее всего зависит заработок, является income_type.    
Помимо человеческого фактора, важно отметить и технический, как возможную причину образования пропусков.     
Сможешь привести примеры таких причин?<font>

<font color="darkblue"> Перечитал главу о пропусках. Из технических причин нашел такую: при выгрузке данных из разных систем некорректный формат приводит к невыполнению кода.

<font color="green">✔️ Комментарий ревьювера 2   
Верно

#### 3.6 Объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.

*Ответ:* в отличие от среднего арифметического, медианное значение более объективно, так как ровно половина элементов больше него, а другая половина — меньше.
Так исключаются "перекосы" в расчетах если крайние значения диапазона сильно отличаются от остальных.

<font color="green">✔️ Комментарий ревьювера   
Верно, в данных могут наблюдаться "выбросы". Медиана обычно даёт более правдивую картину, чем среднее, т.к. менее чувствительна к выбросам<font>

### Шаг 4: общий вывод.

Ответы на предыдущие вопросы можно обобщить в такой вывод.<br>
Наиболее ответственныеми заемщиками оказались:

- разведенные люди или вдовцы,<br> 
- имеющие детей (чем больше, тем надежнее),<br>
- решившие взять кредит для операций с недвижимостью (скорее всего ипотека),<br>
- люди с доходом менее 50 000 либо более 300 000.

<font color="red">❌ Комментарий ревьювера     
Общий вывод нужно написать более подробно. Укажи что сделано, основные результаты по всем шагам работы, включая первый этап. И самое важное - какие зависимости выяснены при ответах на вопросы. Также, можно дать рекомендации банку по улучшению сбора данных и построению скоринговой модели.   
Обычно заказчик читает только общий вывод, поэтому он должен быть максимально информативным.<font>

<font color="darkblue">Исправляю вывод.

Перед нами была поставлена задача выяснить, влияет ли семейное положение и количество детей клиента на факт погашения кредита в срок. Входные данные — статистика о платёжеспособности клиентов.
    
<br>
Для корректного анализа сначала было необходимо ознакомиться с данными и исправить их.
В столбцах с указанием общего трудового стажа и ежемесячным доходом были обнаружены пропущенные значения, которые мы заполнили медианным значением по каждому типу занятости.<br>
Затем мы убрали задублированные строки и ввели категоризацию доходов, чтобы сгруппировать клиентов по их финансовым возможностям.

<br>
Также мы навели порядок в списке целей кредита, объединив их в 4 основные категории.

При поиске ответов были выявлены зависимости своевременного погашения кредита от количества детей заемщика, его семейного положения и дохода, а также цели кредита. <br>
    
В итоге мы получили характеристики ответственных клиентов, показывающих наименьший процент просрочек, это:

- Заемщики без детей,<br> 
- Заемщики, состоящие или ранее состоявшие в браке,<br> 
- Заемщики, взявшие кредит для операций с недвижимостью (скорее всего ипотека),<br>
- Заемщики с высоким доходом (300 000 - 500 000).<br>
    
    
В качестве рекомендаций банку по дальнейшему сбору данных предлагаю создать интерактивную форму анкеты клиента, где можно будет выбрать заранее прописанные цели кредита, уровень дохода и семейное положение. Так мы сразу можем получить категоризированные данные, удобные для обработки.

<font color="green">✔️ Комментарий ревьювера   
Молодец, хорошая работа над проектом. Есть небольшие замечания, но это не страшно - их исправление поможет сделать проект лучше и хорошо разобраться в теме. Анализ данных - не так прост, но его значение для бизнеса и принятия решений трудно переоценить.
Основное замечание - по подсчету % должников по категориям и итоговому выводу.<font>

<font color="green">✔️ Комментарий ревьювера 2  
Хороший вывод. Осталось разобраться с pivot_table :)

<font color="darkblue">Pivot_table заработал, спасибо еще раз :)

<font color="green">✔️ Комментарий ревьювера 3 
Молодец, ты очень тщательно подходишь к проекту, это отлично! Все верно, принимаем! 

<font color="green">✔️ Комментарий ревьювера 3    
После проекта обычно просят оценить работу ревьювера, оставить отзыв - поставь пожалуйста оценку, если не затруднит! Это помогает улучшить нашу работу. Только оценивай, честно, как есть :)</font>