## Импорт из SQL и обзор данных

In [1]:
# Устанавливаем библиотеку psycopg (потребовалось для локальной работы в Jupiter notebook)
!pip install psycopg2

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: psycopg2 in c:\users\роман\appdata\roaming\python\python39\site-packages (2.9.5)

In [2]:
# Импортируем библиотеки
import pandas as pd
from sqlalchemy import create_engine

# Создаём подключение к базе
db_config = {'user': 'praktikum_student', # имя пользователя
            'pwd': 'Sdf4$2;d-d30pp', # пароль
            'host': 'rc1b-wcoijxj3yxfsf3fs.mdb.yandexcloud.net',
            'port': 6432, # порт подключения
            'db': 'data-analyst-zen-project-db'} # название базы данных

connection_string = 'postgresql://{}:{}@{}:{}/{}'.format(db_config['user'],
                                                db_config['pwd'],
                                                db_config['host'],
                                                db_config['port'],
                                                db_config['db'])

engine = create_engine(connection_string)

In [3]:
# Формируем текст запроса к базе SQL
query = ''' SELECT * 
        FROM dash_visits
    '''
# Сохраняем в переменную dash_visits данные, выгруженные
# из SQL в соответствии с запросом
dash_visits = pd.io.sql.read_sql(query, con = engine) 

# Смотрим результат по полученной таблице
dash_visits.head()

   record_id item_topic source_topic age_segment                  dt  visits
0    1040597     Деньги         Авто       18-25 2019-09-24 18:32:00       3
1    1040598     Деньги         Авто       18-25 2019-09-24 18:35:00       1
2    1040599     Деньги         Авто       18-25 2019-09-24 18:54:00       4
3    1040600     Деньги         Авто       18-25 2019-09-24 18:55:00      17
4    1040601     Деньги         Авто       18-25 2019-09-24 18:56:00      27

In [4]:
dash_visits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30745 entries, 0 to 30744
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   record_id     30745 non-null  int64
 1   item_topic    30745 non-null  object
 2   source_topic  30745 non-null  object
 3   age_segment   30745 non-null  object
 4   dt            30745 non-null  datetime64[ns]
 5   visits        30745 non-null  int64
dtypes: datetime64[ns](1), int64(2), object(3)
memory usage: 1.4+ MB

In [5]:
# Познакомимся с файлом поближе: посмотрим уникальные значения тем статей
dash_visits['item_topic'].unique().tolist()

['Деньги',
 'Дети',
 'Женская психология',
 'Женщины',
 'Здоровье',
 'Знаменитости',
 'Интересные факты',
 'Искусство',
 'История',
 'Красота',
 'Культура',
 'Наука',
 'Общество',
 'Отношения',
 'Подборки',
 'Полезные советы',
 'Психология',
 'Путешествия',
 'Рассказы',
 'Россия',
 'Семья',
 'Скандалы',
 'Туризм',
 'Шоу',
 'Юмор']

In [6]:
# Уникальные значения тем источников
dash_visits['source_topic'].unique().tolist()

['Авто',
 'Деньги',
 'Дети',
 'Еда',
 'Здоровье',
 'Знаменитости',
 'Интерьеры',
 'Искусство',
 'История',
 'Кино',
 'Музыка',
 'Одежда',
 'Полезные советы',
 'Политика',
 'Психология',
 'Путешествия',
 'Ремонт',
 'Россия',
 'Сад и дача',
 'Сделай сам',
 'Семейные отношения',
 'Семья',
 'Спорт',
 'Строительство',
 'Технологии',
 'Финансы']

In [7]:
# Уникальные значения возрастных категорий пользователей
dash_visits['age_segment'].unique()

array(['18-25', '26-30', '31-35', '36-40', '41-45', '45+'], dtype=object)

In [8]:
# Минимальное значение времени посещения
dash_visits['dt'].min()

Timestamp('2019-09-24 18:28:00')

In [9]:
# Максимальное значение времени посещения
dash_visits['dt'].max()

Timestamp('2019-09-24 19:00:00')

## Выгрузка в csv-формат для работы в Tableau

In [10]:
# Выгружаем файл в формате csv для работы в Tableau
dash_visits.to_csv(r"dash_visits.csv")

## Ссылки на дашборд и презентацию

Ссылка на дашборд:<br>
https://public.tableau.com/views/YP_Tableau_Project/Dashboard1?:language=en-US&publish=yes&:display_count=n&:origin=viz_share_link

Ссылка на презентацию:<br>
https://disk.yandex.ru/i/7nqjaF-Q3KN3rw